@font-face {
  font-family: "Fontdiner Swanky";
  src: url("../fonts/FontdinerSwanky-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root{
    --sizeA:1rem;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: calc(2*var(--sizeA));
  justify-content: space-between;
  align-items: center;
  padding: calc(2*var(--sizeA)) calc(3*var(--sizeA));
  font-size: calc(1.3*var(--sizeA));
  font-family: monospace;
  color: white;
  background-color: #262626;
  font-weight: 800;
  width: 100%;
  min-height: 5rem;
}
.menuOptions,
.contactBtn {
  text-transform: uppercase;
}
.list {
  display: flex;
  gap: calc(2*var(--sizeA));
}
.contactBtn {
  border: calc(0.2*var(--sizeA)) solid white;
  border-radius: 5%;
  padding: calc(0.8*var(--sizeA)) calc(2*var(--sizeA));
  margin: calc(-0.5*var(--sizeA)) 0;
  font-size: calc(1.2*var(--sizeA));
  transition: background-color 0.5s ease;
}
.contactBtn:hover {
  border: calc(0.2*var(--sizeA)) solid white;
  color: #262626;
  background-color: white;
}
.logo {
  font-family: "Fontdiner Swanky";
  font-size: calc(1.5*var(--sizeA));
  white-space: nowrap;
}
.list > li:hover {
  cursor: pointer;
}

@media screen and (max-width: 50rem) {
  :root{
    --sizeA:0.8rem;
  }
}
@media screen and (max-width: 32rem) {
  :root{
    --sizeA:0.7rem;
  }
  .menu{
    padding: calc(2*var(--sizeA)) calc(2.6*var(--sizeA));
  }
}
@media screen and (max-width: 18rem) {
  :root{
    --sizeA:0.5rem;
  }
  .menu{
    padding: calc(2*var(--sizeA)) calc(2.3*var(--sizeA));
  }
}
