@font-face {
  font-family: "Fontdiner Swanky";
  src: url("../fonts/FontdinerSwanky-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.menu {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 1.3rem;
  font-family: monospace;
  color: white;
  background-color: #262626;
  font-weight: 800;
  min-width: 100vw;
  min-height: 5rem;
}
.menuOptions,
.contactBtn {
  text-transform: uppercase;
}
.list {
  display: flex;
  gap: 2rem;
}
.contactBtn {
  border: 0.2rem solid white;
  border-radius: 5%;
  padding: 0.8rem 2rem;
  margin: -0.5rem 0;
  font-size: 1.2rem;
   transition: background-color 0.5s ease;
}
.contactBtn:hover {
    border: 0.2rem solid white;
    color:#262626;
    background-color: white;
}
.logo {
  font-family: "Fontdiner Swanky";
  font-size: 1.5rem;
  white-space: nowrap;
}
.list > li:hover {
  cursor: pointer;
}

